<section class="bg-[#D9D9D9] p-4 rounded-lg flex flex-col md:flex-row items-center space-y-4 md:space-y-0 md:space-x-4">
    <!-- Foto e nome do usuário -->
    <div class="relative flex-shrink-0 text-center">
        <img [src]="userPhoto" alt="User Photo" class="user-photo mx-auto">
        <!-- Ícone de status online -->
        <span class="absolute bottom-[27px] right-[30px] bg-green-500 border-2 border-white rounded-full w-4 h-4"></span>
        <p class="mt-2">{{ userName }}</p>
    </div>
    
    <!-- Conteúdo do post -->
    <div class="flex flex-col md:flex-row w-full justify-between bg-white p-4 rounded-lg">
        <div class="p-4 md:p-8 flex-grow">
            <p>{{ content }}</p>
        </div>
        <!-- Painel de ações no canto direito extremo -->
        <div class="flex items-center justify-end mt-4 md:mt-0 flex-col gap-2">
            <app-action-panel 
                [likesCount]="likesCount" 
                [dislikesCount]="dislikesCount" 
                [commentsCount]="commentsCount">
            </app-action-panel>
            <p>{{ createdAt }}</p>
        </div>
    </div>
</section>