<section class="bg-white shadow-md rounded-lg overflow-hidden relative">
    <!-- Ícone de exclusão no canto superior direito -->
    <button *ngIf="isPostOwner()" (click)="deletePost()"
        class="absolute top-2 right-2 text-gray-600 hover:text-red-500">
        <i class="fas fa-times"></i>
    </button>


    <!-- Ícone de coroa no canto superior esquerdo se o post for do usuário logado -->
    <div *ngIf="isPostOwner()" class="absolute top-1 left-2 text-yellow-500">
        <i class="fas fa-crown" matTooltip="Este é o seu post!" style="transform: rotate(-40deg);"></i>
    </div>

    <!-- Foto e nome do usuário -->
    <div class="bg-gray-100 p-4 flex items-center space-x-4">
        <img src="https://www.designi.com.br/images/preview/12161376.jpg" alt="Profile Picture"
            class="w-16 h-16 rounded-full object-cover">
        <div>
            <p class="font-bold">{{ userName }}</p>
            <p class="text-sm text-gray-600">{{ createdAt }}</p>
        </div>
    </div>

    <!-- Conteúdo do post -->
    <div class="p-4">
        <p class="text-gray-800">{{ content }}</p>
    </div>

    <!-- Botão para alternar a visibilidade dos comentários -->
    <div class="p-4" *ngIf="comments.length > 0">
        <button (click)="toggleComments()" class="text-blue-500 hover:underline">
            {{ showComments ? 'Esconder comentários' : 'Mostrar comentários' }}
        </button>
    </div>

   <!-- Comentários do post -->
   <div class="p-4" *ngIf="showComments">
    <div *ngFor="let comment of comments" class="bg-gray-100 p-2 rounded-lg mb-2 flex justify-between items-center">
        <div>
            <p class="font-bold text-sm text-gray-800">{{ comment.username }}</p>
            <p class="text-sm text-gray-800">{{ comment.content }}</p>
            <p class="text-xs text-gray-600">{{ comment.date | date: 'HH:mm' }}</p>
        </div>
        <button (click)="deleteComment(comment.commentId)" class="text-gray-600 hover:text-red-500">
            <i class="fas fa-times"></i>
        </button>
    </div>
</div>



    <!-- Painel de ações no canto inferior -->
    <div class="bg-gray-100 p-4 flex justify-between items-center">
        <app-action-panel [likesCount]="likesCount" [dislikesCount]="dislikesCount" [commentsCount]="commentsCount"
            [postId]="post.id.toString()" [likedByUser]="likedByUser" (likeUpdated)="onLikeUpdated()">
        </app-action-panel>
        <form [formGroup]="commentForm" (ngSubmit)="addComment()" class="flex-grow flex items-center space-x-2">
            <input type="text" formControlName="comment" placeholder="Adicionar um comentário..." class="w-full ml-2 p-2 rounded-lg border border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-500">
            <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-600 transition duration-200">Enviar</button>
        </form>
    </div>
</section>