<section class="bg-[#D9D9D9] p-4 rounded-lg flex flex-col md:flex-row items-center space-y-4 md:space-y-0 md:space-x-4 relative">
    <!-- Foto e nome do usuário -->
    <div class="relative flex-shrink-0 text-center">
        <img src="https://www.designi.com.br/images/preview/12161376.jpg" 
        alt="Profile Picture" 
        class="w-24 h-24 rounded-full mx-auto object-cover mb-4">
         
        <p class="mt-2">{{ userName }}</p>
    </div>
    
    <!-- Conteúdo do post -->
    <div class="flex flex-col md:flex-row w-full justify-between bg-white p-4 rounded-lg">
        <div class="flex-grow">
            <p>{{ content }}</p>
        </div>
        <!-- Painel de ações no canto direito extremo -->
        <div class="flex items-center justify-end mt-4 md:mt-0 flex-col gap-2">
            <app-action-panel 
                [likesCount]="likesCount" 
                [dislikesCount]="dislikesCount" 
                [commentsCount]="commentsCount"
                [postId]="post.id.toString()"
                [likedByUser]="likedByUser"
                (likeUpdated)="onLikeUpdated()">
            </app-action-panel>
            <p>{{ createdAt }}</p>
        </div>
    </div>

    <!-- Ícone de exclusão no canto superior direito -->
    <button *ngIf="isPostOwner()" (click)="deletePost()" class="absolute top-1 right-2 text-gray-600 hover:text-red-500">
        <i class="fas fa-times"></i>
    </button>
</section>