<section class="bg-white p-4 rounded-lg shadow-md w-full max-w-md mx-auto">
    <div class="flex items-center space-x-4">
      <!-- Foto do usuário -->
      <div class="flex-shrink-0">
        <img [src]="'data:image/jpeg;base64,' + user.photo" alt="User Photo" class="w-24 h-24 rounded-full object-cover">
      </div>
      <!-- Informações do usuário -->
      <div>
        <h2 class="text-xl font-bold">{{ user.name }}</h2>
        <p class="text-gray-600">{{ user.bio }}</p>
        <div class="flex space-x-4 mt-2">
          <div>
            <span class="font-bold">{{ user.followersCount }}</span>
            <span class="text-gray-600">Seguidores</span>
          </div>
          <div>
            <span class="font-bold">{{ user.followingCount }}</span>
            <span class="text-gray-600">Seguindo</span>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="bg-white p-4 rounded-lg shadow-md w-full max-w-md mx-auto mt-4">
    <div class="flex items-center space-x-4">
        <p>Últimos posts</p>
    </div>
  </section>