<div class="flex flex-col lg:flex-row gap-4 justify-around h-full">

  <side-info-user
  class="w-full lg:w-[10%] hidden lg:block shadow-lg transition-transform duration-300 hover:shadow-xl">
</side-info-user>


  <div class="flex flex-col items-center w-full lg:w-[60%]">
    <!-- Área para fazer um post -->
    <div class="mb-4 p-2 w-full">
      <app-card-self-feed (postCreated)="postCreated()"></app-card-self-feed>
    </div>

    <!-- Feed com todos os posts -->
    <div class="bg-white p-4 w-full rounded-lg h-[35rem] overflow-y-auto flex flex-col gap-4">
      <app-card-post-feed *ngFor="let post of posts" [post]="post" (postUpdated)="onPostUpdated()"
        (postDeleted)="postDeleted()"></app-card-post-feed>
    </div>
  </div>


  <side-info-metrics 
  class=" w-full lg:w-[20%] gap-4 hidden lg:block h-full" 
  [postsTopper]="postsTopper"
  [usersTopper]="usersTopper" 
  [loggedInUser]="loggedInUser">
  </side-info-metrics>