<!-- Forgot Password Section -->
<div class="flex h-screen flex-col md:flex-row">
  <!-- Coluna da esquerda para o card de "Esqueci minha senha" no desktop e para o fundo no mobile -->
  <div class="flex items-center justify-center w-full md:w-1/2 relative h-full">
    <div class="absolute inset-0 md:hidden">
      <img src="https://w0.peakpx.com/wallpaper/518/101/HD-wallpaper-native-pattern-abstract-colors.jpg" alt="Logo" class="w-full h-full object-cover">
    </div>
    <div class="bg-white p-8 rounded-lg shadow-md w-full max-w-md mt-[8rem] md:mt-0 relative z-10 md:z-auto m-4 items-center">
      <img src="https://cdn-icons-png.flaticon.com/512/78/78925.png" alt="Logo" class="w-[4rem] h-[4rem] mx-auto">
      <p class="text-2xl font-bold mb-6 text-center mt-4">Recuperação de Senha:
        <span class="text-gray-700 text-sm flex text-center mb-4 ml-14 md:ml-[5.5rem]"> Estamos Aqui para Ajudar!</span>
      </p>
      <span class="text-gray-700 flex text-center mb-4">Não se preocupe, todos nós esquecemos de vez em quando. Digite seu e-mail abaixo e vamos ajudá-lo a voltar à sua tribo.</span>
      <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
        <div class="mb-4">
          <input type="email" id="email" formControlName="email" class="w-full p-2 border border-gray-300 rounded mt-1" required >
          <div *ngIf="forgotPasswordForm.get('email')?.invalid && forgotPasswordForm.get('email')?.touched" class="text-red-500 text-sm">
            <div *ngIf="forgotPasswordForm.get('email')?.errors?.['required']">Email é obrigatório.</div>
            <div *ngIf="forgotPasswordForm.get('email')?.errors?.['email']">Email inválido.</div>
          </div>
        </div>
        <button type="submit" class="w-full bg-blue-500 text-white p-2 rounded hover:bg-blue-600" >
          <span *ngIf="!isLoading">Enviar</span>
          <span *ngIf="isLoading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        </button>
      </form>
    </div>
  </div>
  <!-- Coluna da direita para a imagem no desktop -->
  <div class="hidden md:flex w-1/2">
    <img src="https://w0.peakpx.com/wallpaper/518/101/HD-wallpaper-native-pattern-abstract-colors.jpg" alt="Logo" class="w-full h-full object-cover">
  </div>
</div>