<div class="min-h-screen flex flex-col md:flex-row">
    <!-- Sidebar -->
    <aside class="hidden md:flex bg-gray-800 text-white p-4 flex-col mt-2 ml-2 mb-2 rounded-lg md:mb-[0.5rem] md:mt-2 md:ml-2 md:mb-2">
        <ul class="mt-4">
            <li class="mb-2 cursor-pointer">
                <a (click)="goToHome()" class="block p-2 hover:bg-gray-600 rounded text-center">
                    <i class="fas fa-home"></i>
                </a>
            </li>
            <li class="mb-2 cursor-pointer">
                <a routerLink="/profile" class="block p-2 hover:bg-gray-600 rounded text-center">
                    <i class="fas fa-user"></i>
                </a>
            </li>
            <li class="mb-2 cursor-pointer">
                <a routerLink="/settings" class="block p-2 hover:bg-gray-600 rounded text-center">
                    <i class="fas fa-cog"></i>
                </a>
            </li>
            <li class="mb-2 cursor-pointer">
                <a (click)="goToFeed()" class="block p-2 hover:bg-gray-600 rounded text-center">
                    <i class="fas fa-rss"></i>
                </a>
            </li>
        </ul>
    </aside>

    <div class="flex flex-col flex-grow ml-2 mt-2 mr-2">
        <!-- Navbar -->
        <nav class="bg-gray-800 text-white p-4 rounded-lg">
            <div class="container mx-auto flex justify-between items-center">
                <p>The tribe</p>
                <div class="flex space-x-4">
                    <a href="#" class="hover:text-gray-400">
                        <i class="fas fa-search"></i>
                    </a>
                    <a href="#" class="hover:text-gray-400">
                        <i class="fas fa-bell"></i>
                    </a>
                    <a  [matMenuTriggerFor]="menu" class="hover:text-gray-400">
                        <i class="fas fa-circle"></i>
                    </a>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="changeStatus()">Mudar de Status</button>
                        <button mat-menu-item (click)="logout()">Sair</button>
                    </mat-menu>
                </div>
            </div>
        </nav>

        <!-- Conteúdo Principal -->
        <main class="flex-grow p-4 md:h-[60%]">
            <router-outlet></router-outlet>
            <app-loading *ngIf="isLoading"></app-loading>
        </main>

        <!-- Footer -->
        <footer class="bg-gray-800 text-white p-4 rounded-lg mt-2 md:h-[12%] md:mb-[0.5rem]">
            <div class="container mx-auto text-center">
                <p>&copy; 2023 The Tribe. Todos os direitos reservados.</p>
            </div>
        </footer>
    </div>
</div>
