<div class="min-h-screen flex flex-col md:flex-row">

    <div class="flex flex-col flex-grow ml-2 mt-2 mr-2">
        <!-- Navbar -->
        <nav class="bg-gray-800 text-white p-4 rounded-lg">
            <div class="container mx-auto flex justify-between items-center">
                <p class="items-center justify-center">The tribe</p>
                <div class="flex space-x-4 items-center">
                    <div class="relative">
                        <input type="text" class="bg-gray-700 text-white p-2 rounded" placeholder="Pesquisar..." (input)="searchUser($event)">
                        <div *ngIf="searchResults.length > 0" class="absolute bg-white text-black mt-2 rounded shadow-lg w-full z-10">
                          <ul>
                            <li *ngFor="let user of searchResults" class="p-2 hover:bg-gray-200 cursor-pointer" (click)="goToUserProfile(user.id)">
                              <div class="flex items-center">
                                <img [src]="'data:image/jpeg;base64,' + user.photo" alt="User Photo" class="w-8 h-8 rounded-full object-cover mr-2">
                                <span>{{ user.name }}</span>
                              </div>
                            </li>
                          </ul>
                        </div>
                      </div>
                    <a href="#" class="hover:text-gray-400">
                        <i class="fas fa-bell"></i>
                    </a>
                    <a  [matMenuTriggerFor]="menu" class="hover:text-gray-400">
                        <i class="fas fa-circle"></i>
                    </a>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="goToMyProfile()">
                            <i class="fas fa-user"></i> Meu Perfil
                        </button>
                        <button mat-menu-item >
                            <i class="fas fa-cog"></i> Configurações
                        </button>
                        <button mat-menu-item (click)="goToFeed()">
                            <i class="fas fa-rss"></i> Feed
                        </button>
                        <button mat-menu-item (click)="changeStatus()">
                            <i class="fas fa-exchange-alt"></i> Mudar de Status
                        </button>
                        <button mat-menu-item (click)="logout()">
                            <i class="fas fa-sign-out-alt"></i> Sair
                        </button>
                    </mat-menu>
                </div>
            </div>
        </nav>

        <!-- Conteúdo Principal -->
        <main class="flex-grow p-4 md:h-[60%]">
            <router-outlet></router-outlet>
        </main>

    </div>
</div>
