<!-- Confirm Password Section -->
<div class="flex h-screen">]
    <!-- Coluna da direita para a imagem -->
    <div class="w-1/2">
        <img src="https://w0.peakpx.com/wallpaper/518/101/HD-wallpaper-native-pattern-abstract-colors.jpg" alt="Logo" class="w-full h-full object-cover">
      </div>
    <!-- Coluna da esquerda para o card de "Confirmar Senha" -->
    <div class="flex items-center justify-center w-1/2">
      <div class="bg-white p-8 rounded-lg shadow-md w-full max-w-md mt-[8rem] md:mt-0">
        <form [formGroup]="confirmPasswordForm" (ngSubmit)="onSubmit()">
          <div class="mb-4">
            <label for="password" class="block text-gray-700">Nova Senha</label>
            <input type="password" id="password" formControlName="password" class="w-full p-2 border border-gray-300 rounded mt-1" required>
            <div *ngIf="confirmPasswordForm.get('password')?.invalid && confirmPasswordForm.get('password')?.touched" class="text-red-500 text-sm">
              <div *ngIf="confirmPasswordForm.get('password')?.errors?.['required']">Senha é obrigatória.</div>
              <div *ngIf="confirmPasswordForm.get('password')?.errors?.['minlength']">Senha deve ter pelo menos 6 caracteres.</div>
            </div>
          </div>
          <div class="mb-4">
            <label for="confirmPassword" class="block text-gray-700">Confirmar Senha</label>
            <input type="password" id="confirmPassword" formControlName="confirmPassword" class="w-full p-2 border border-gray-300 rounded mt-1" required>
            <div *ngIf="confirmPasswordForm.get('confirmPassword')?.invalid && confirmPasswordForm.get('confirmPassword')?.touched" class="text-red-500 text-sm">
              <div *ngIf="confirmPasswordForm.get('confirmPassword')?.errors?.['required']">Confirmação de senha é obrigatória.</div>
              <div *ngIf="confirmPasswordForm.get('confirmPassword')?.errors?.['mustMatch']">As senhas devem coincidir.</div>
            </div>
          </div>
          <button type="submit" class="w-full bg-blue-500 text-white p-2 rounded hover:bg-blue-600">Confirmar</button>
        </form>
      </div>
    </div>
    
  </div>