@tailwind base;
@tailwind components;
@tailwind utilities;

@import  'ngx-toastr/toastr' ;

html, body, app-root {
    height: 100%;
    margin: 0;
    padding: 0;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.spinner-border {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  vertical-align: text-bottom;
}

  @keyframes spinner-border {
    to {
      transform: rotate(360deg);
    }
  }